*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 580px;
    background-color: darkblue;
}

.header-top{
    height: 80px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu{  /* 25%logo-49%link-25%login-2x1px border*/
    background-color: orange;
    width: 70%;
    height: 60%;
    margin: auto;
    border: dotted 1px black;
    display: flex;
    
    
}

.logo{ 
    width: 25%;
    height: 100%;
    border-right: dotted 1px black;
    display: flex;
    align-items: center;
}

.link{
    width: 49%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.login{
    width: 25%;
    height: 100%;
    border-left: dotted 1px black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-posto{
    width: 60%;
    height: 380px;
    background-color: palevioletred;
    margin: auto;
    margin-top: 50px;
}

.sezione-1 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.container {
    border: dotted 1px black;
    width: 70%;  
    height: 80%;
    margin: auto;
    display: flex;
}

.sezione-2{
    
background-color: lightgray;
    padding: 40px 0px;
    height: 580px;
}

.sezione-2 .container{
    flex-direction: row-reverse;
}
    
.sezione-3 {
    background-color: white;
    padding: 40px 0px;
    height: 580px;
    display: flex;
}

.sezione-4 {
    background-color: lightgray;
    padding: 40px 0px;
    height: 780px;
    display: flex;
}

.div-sx{
    width: 60%;
    background-color: blue;
    border-right: dotted 1px black;

}

.div-dx{
    width: 40%;
    background-color: lightpink;
}





.div-4{
    width: 100%;
    height: 100%;
    border: dotted 1px black;
    margin: auto;
    background-color: green;
}

.footer{ /* 680px di cui 580 footer-top e 100 px o più il footer-botton*/
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
    height: 680px;
    

}

.footer-top{
    background-color: rgb(28, 27, 27);
    padding: 40px 0px;
    height: 580px;
    display: flex;  
}

.container-footer-top{
    
    width: 70%;  
    height: 90%;
    margin: auto;
    display: flex;
}

.nav-1{
width: 20%;
background-color: salmon;
border: dotted 1px black;
}

.nav-2{
    width: 20%;
    background-color: aquamarine;
    border: dotted 1px white;

}

hr{
    color: white;
}

.footer-botton{
    height: 100px;
    background-color: rgb(28, 27, 27);
    padding: 10px 0px;
}

.container-footer-botton{
    width: 70%;
    height: 80%;
    background-color: aquamarine;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 16px;
}

.logo-footer{
width: 15%;
height: 16px;
background-color: salmon;
color: black;
border: dotted 1px black;

}

.bottone-footer{
    width: 15%;
    height: 16px;
    background-color: salmon;
    color: black;
    border: dotted 1px black;
}